<div class="planner-container" data-week-id="<%= "#{@week_number}_#{@year}" %>">
  <div class="scaled-container">
    <%= content_tag(:div, id: "app", data: { 
        controller: "react"
    }) %>
    <div class="flex-center">
      <div class="white-box">
        <div class="month-name"><%= @display_month_year %></div>
        <div class="header-footer">
          <% @main_dates.each_with_index do |date, index| %>
            <div class="wl-day-section !top-[<%= 90 + (index * 210) %>px]">
              <div class="day-inner-block">
                <div class="day-number-circle">
                  <div class="day-number"><%= date.day %></div>
                </div>
                <div class="day-name"><%= date.strftime("%A") %></div>
                <div class="holiday-box"><%= @holidays[date] %></div>
                <div class="moon-phase" 
                    aria-label="<%= @moon_phases[date][:aria_label] %>"
                    title="<%= @moon_phases[date][:alt] %>">
                  <%= @moon_phases[date][:emoji] %>
                </div>
              </div>
              <div class="textarea-container">
                <% if index != 5  %>
                  <img class="divider-container" alt="weekly left divider line" src="https://c.animaapp.com/eFfbxFd7/img/wl-divider-line-5.svg">
                  <div class="textarea-bg">
                    <img class="wl-input-line-4" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                    <img class="wl-input-line-3" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                    <img class="wl-input-line-2" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                    <img class="wl-input-line-1" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                      <%= content_tag(:div, "", id: "tiptap-#{index}", class: "wl-textarea", data: { 
                      controller: "react"
                    }) %>
                  <% else %>
                    <div class="textarea-bg">
                      <img class="wl-input-line-1" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                      <img class="wl-input-line-2" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                      <img class="wl-input-line-3" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                      <img class="wl-input-line-4" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                      <img class="wl-input-line-5" alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/wl-input-line-28.svg">
                        <%= content_tag(:div, "", id: "tiptap-#{index}", class: "wl-textarea", data: { 
                      controller: "react"
                    }) %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
